@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300;400;500;600&display=swap");
/* fonts */
/* 10px */
.my-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  max-width: 144rem;
  padding: 2rem;
  width: 100%;
  background: transparent;
  position: relative;
  transition: all 300ms ease-in;
  z-index: 90;
}
.my-header.active {
  position: fixed;
  top: 0;
  background: linear-gradient(45deg, hsl(212deg, 29%, 13%) 0%, hsl(204deg, 82%, 42%) 150%);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

.logo-container {
  height: 100%;
  background: transparent;
}
.logo-container .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
.logo-container .logo img {
  width: 6rem;
  height: 2.5rem;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
@media (min-width: 950px) {
  .logo-container .logo img {
    width: 12rem;
    height: 6rem;
  }
}
.logo-container .logo .opening-tag {
  margin-left: -1rem;
}
.logo-container .logo .melvin-text {
  width: 8rem;
  height: 1.5rem;
  margin-left: -14rem;
}
@media (max-width: 374px) {
  .logo-container .logo .melvin-text {
    display: none;
  }
}
@media (min-width: 950px) {
  .logo-container .logo .melvin-text {
    width: 11rem;
    height: 4rem;
    margin-left: -22rem;
  }
}
.logo-container .logo .portfolio-text {
  width: 8.5rem;
  height: 1.5rem;
  margin-left: -10rem;
}
@media (min-width: 950px) {
  .logo-container .logo .portfolio-text {
    width: 14rem;
    height: 4rem;
    margin-left: -14rem;
  }
}
.logo-container .logo .closing-tag {
  overflow: hidden;
  visibility: visible;
  margin-left: 1rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 374px) {
  .logo-container .logo .closing-tag {
    margin-left: -4.5rem;
  }
}
@media (min-width: 950px) {
  .logo-container .logo .closing-tag {
    margin-left: -1rem;
  }
}
.logo-container .logo:hover .opening-tag {
  visibility: visible;
}
.logo-container .logo:hover .melvin-text {
  margin-left: unset;
  visibility: visible;
}
.logo-container .logo:hover .portfolio-text {
  margin-left: 0.5rem;
  visibility: visible;
}
.logo-container .logo:hover .closing-tag {
  margin-left: unset;
}

.logo-container {
  height: 100%;
  background: transparent;
}
.logo-container .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
}
.logo-container .logo img {
  width: 6rem;
  height: 2.5rem;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
@media (min-width: 950px) {
  .logo-container .logo img {
    width: 12rem;
    height: 6rem;
  }
}
.logo-container .logo .opening-tag {
  margin-left: -1rem;
}
.logo-container .logo .melvin-text {
  width: 8rem;
  height: 1.5rem;
  margin-left: -14rem;
}
@media (max-width: 374px) {
  .logo-container .logo .melvin-text {
    display: none;
  }
}
@media (min-width: 950px) {
  .logo-container .logo .melvin-text {
    width: 11rem;
    height: 4rem;
    margin-left: -22rem;
  }
}
.logo-container .logo .portfolio-text {
  width: 8.5rem;
  height: 1.5rem;
  margin-left: -10rem;
}
@media (min-width: 950px) {
  .logo-container .logo .portfolio-text {
    width: 14rem;
    height: 4rem;
    margin-left: -14rem;
  }
}
.logo-container .logo .closing-tag {
  overflow: hidden;
  visibility: visible;
  margin-left: 1rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 374px) {
  .logo-container .logo .closing-tag {
    margin-left: -4.5rem;
  }
}
@media (min-width: 950px) {
  .logo-container .logo .closing-tag {
    margin-left: -1rem;
  }
}
.logo-container .logo:hover .opening-tag {
  visibility: visible;
}
.logo-container .logo:hover .melvin-text {
  margin-left: unset;
  visibility: visible;
}
.logo-container .logo:hover .portfolio-text {
  margin-left: 0.5rem;
  visibility: visible;
}
.logo-container .logo:hover .closing-tag {
  margin-left: unset;
}

.nav-bar {
  background: linear-gradient(45deg, hsl(212deg, 29%, 13%) 0%, hsl(204deg, 68%, 37%) 150%);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  transform: translateY(-250%);
  transition: transform 500ms ease-in-out;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
    padding: 0;
    position: unset;
    min-height: unset;
    transform: translate(0%);
    transition: transform 0ms ease-in-out;
    background: transparent;
  }
}
.nav-bar .menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2.5rem;
  width: 100%;
  padding: 5rem 0 0 10rem;
  text-align: left;
}
@media (min-width: 768px) {
  .nav-bar .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
    padding: 0;
  }
}
.nav-bar .menu .menu-item {
  list-style-type: none;
  position: relative;
}
.nav-bar .menu .menu-item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid rgb(247, 248, 248);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.nav-bar .menu .menu-item:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.nav-bar .menu .menu-item.active::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.nav-bar .menu .menu-item a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(247, 248, 248);
  font-weight: 400;
}

#burger-checkbox:checked ~ .nav-bar {
  transform: translateY(0%);
}

/* footer */
.footer-menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5rem;
  background: transparent;
}
@media (max-width: 280px) {
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    position: unset;
  }
}
@media (min-width: 425px) {
  .footer-menu {
    gap: 2.5rem;
  }
}
@media (min-width: 550px) {
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    position: unset;
  }
}
@media (min-width: 992px) {
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    width: 85%;
  }
}
.footer-menu .footer-item {
  list-style-type: none;
  position: relative;
}
.footer-menu .footer-item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid rgb(247, 248, 248);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.footer-menu .footer-item:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.footer-menu .footer-item a {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgb(247, 248, 248);
  font-weight: 400;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  padding: 0.1rem;
  background: transparent;
  transition: all 300ms ease-in-out;
  z-index: 99;
}
.hamburger .line {
  width: 4rem;
  border: 0.2rem solid hsl(0deg, 0%, 90%);
  background: hsl(0deg, 0%, 90%);
  transition: all 500ms ease-in-out;
}
.hamburger:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#burger-checkbox {
  display: none;
  position: absolute;
  visibility: hidden;
}

#burger-checkbox:checked ~ .hamburger > .line-top {
  width: 2.8rem;
  transform: rotate(45deg);
  transform-origin: left top;
}

#burger-checkbox:checked ~ .hamburger > .line-inner {
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

#burger-checkbox:checked ~ .hamburger > .line-bottom {
  width: 2.8rem;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.my-main {
  width: 100%;
  max-width: 144rem;
}

#home {
  min-height: 50vh;
  color: rgb(247, 248, 248);
  padding-top: 10rem;
  width: 100%;
}

#projects {
  background: hsl(0deg, 0%, 90%);
  color: hsl(212deg, 29%, 13%);
  padding: 2rem;
}
#projects h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 980px) {
  #projects h2 {
    text-align: left;
  }
}
#projects .projects-content {
  padding: 3rem 0 5rem 0;
  border-top: 0.5rem solid hsl(204deg, 82%, 42%);
}
#projects .projects-content .projects-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 980px) {
  #projects .projects-content .projects-subtitle {
    align-items: flex-start;
    text-align: left;
  }
}
#projects .projects-content .projects-subtitle .bottom {
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem solid hsl(212deg, 29%, 13%);
}
#projects .projects-content .projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
@media (min-width: 660px) {
  #projects .projects-content .projects-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
#projects .see-more-projects {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-bottom: 5rem;
}
#projects .see-more-projects a {
  text-decoration: none;
  color: hsl(212deg, 29%, 13%);
}
#projects .see-more-projects a span {
  position: relative;
}
#projects .see-more-projects a span::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(204deg, 82%, 42%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
#projects .see-more-projects a span:hover {
  cursor: pointer;
}
#projects .see-more-projects a span:hover::before {
  transform: scale(1, 1);
  transform-origin: left 1rem;
}

/* all about card projects */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 28rem;
  height: 35rem;
  border-radius: 1rem;
  background: hsl(0deg, 0%, 90%);
  border: 0.1rem solid hsl(212deg, 29%, 13%);
  box-shadow: 0 0 0.3rem 0.1rem rgba(19, 125, 195, 0.8);
}
.card .card-title {
  text-align: center;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
.card .card-title .project-title {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
}
.card .card-title .short-description {
  font-size: 1.2rem;
  padding: 0 1rem;
}
.card .card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 25rem;
  padding: 0 0.5rem;
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 1000ms ease-in-out;
}
.card .card-image .visit-btn {
  position: absolute;
  background: hsl(204deg, 82%, 42%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  visibility: hidden;
}
.card .card-image .visit-btn .visit {
  text-decoration: none;
  color: rgb(247, 248, 248);
  position: relative;
}
.card .card-image .visit-btn .visit::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  border-bottom: 0.2rem solid rgb(247, 248, 248);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.card .card-image .visit-btn:hover > .visit::before {
  cursor: pointer;
  transform: scale(1, 1);
  transform-origin: left 1rem;
}
.card .card-image:hover > img {
  cursor: pointer;
  transform: scale(1.2);
}
.card .card-image:hover > .visit-btn {
  visibility: visible;
  cursor: pointer;
}
.card .card-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0 0.5rem 1rem 0.5rem;
  width: 100%;
}
.card .card-tag span {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0.5rem;
  border-radius: 2rem;
  color: rgb(247, 248, 248);
  background: hsl(204deg, 82%, 42%);
}

#skills {
  background: hsl(0deg, 0%, 90%);
  color: hsl(212deg, 29%, 13%);
  padding: 5rem 2rem 2rem 2rem;
}
#skills h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 980px) {
  #skills h2 {
    text-align: left;
  }
}
#skills .skills-content {
  padding: 3rem 0;
  border-top: 0.5rem solid hsl(204deg, 82%, 42%);
}
#skills .skills-content .skills-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 980px) {
  #skills .skills-content .skills-subtitle {
    align-items: flex-start;
    text-align: left;
  }
}
#skills .skills-content .skills-subtitle span:nth-child(2) {
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem solid hsl(212deg, 29%, 13%);
}
#skills .skills-content .skills-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.skill-card {
  max-width: 17rem;
  max-height: 17rem;
}
.skill-card img {
  width: 100%;
}

#about {
  background: hsl(0deg, 0%, 90%);
  color: hsl(212deg, 29%, 13%);
  padding: 5rem 2rem 2rem 2rem;
}
#about h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 980px) {
  #about h2 {
    text-align: left;
  }
}
#about .about-content {
  padding: 3rem 0;
  border-top: 0.5rem solid hsl(204deg, 82%, 42%);
}
#about .about-content .about-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 980px) {
  #about .about-content .about-subtitle {
    align-items: flex-start;
    text-align: left;
  }
}
#about .about-content .about-subtitle span {
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem solid hsl(212deg, 29%, 13%);
}
#about .about-content .about-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
#about .about-content .about-list .about-para {
  font-size: 2rem;
  text-align: justify;
}
@media (min-width: 768px) {
  #about .about-content .about-list .about-para {
    padding: 0 5rem;
  }
}
#about .about-content .about-list .recognition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 980px) {
  #about .about-content .about-list .recognition {
    align-items: flex-start;
    text-align: left;
  }
}
#about .about-content .about-list .recognition span {
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem solid hsl(212deg, 29%, 13%);
}
#about .about-content .about-list .recognition ul {
  margin-top: 3rem;
}
#about .about-content .about-list .recognition ul li {
  list-style-type: none;
}
@media (min-width: 768px) {
  #about .about-content .about-list .recognition ul li {
    padding: 0 5rem;
  }
}
#about .about-content .about-list .recognition ul li a {
  text-decoration: none;
  color: hsl(212deg, 29%, 13%);
  position: relative;
}
#about .about-content .about-list .recognition ul li a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(204deg, 82%, 42%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
#about .about-content .about-list .recognition ul li a:hover::before {
  cursor: pointer;
  transform: scale(1, 1);
  transform-origin: left;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 144rem;
  padding: 2rem;
  color: rgb(247, 248, 248);
  position: relative;
  border-top: 0.5rem solid hsl(204deg, 82%, 42%);
}
@media (min-width: 768px) {
  footer {
    padding: 3rem 2rem;
  }
}
@media (min-width: 992px) {
  footer {
    padding: 3rem 6rem;
  }
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 550px) {
  footer .footer-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 0;
  }
}
footer .footer-content .contact-social-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 425px) {
  footer .footer-content .contact-social-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
  }
}
footer .footer-content .contact-social-container .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  footer .footer-content .contact-social-container .footer-contact {
    gap: 1rem;
    font-size: 1.4rem;
  }
}
footer .footer-content .contact-social-container .footer-contact .contacts {
  font-size: 1.6rem;
}
footer .footer-content .contact-social-container .footer-contact img {
  width: 2.5rem;
  height: 2.5rem;
}
footer .footer-content .contact-social-container .footer-contact .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .footer-content .contact-social-container .footer-contact .email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .footer-content .contact-social-container .social-media {
  font-size: 1.6rem;
}
footer .footer-content .contact-social-container .social-media .social-media-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
}
footer .footer-content .contact-social-container .social-media .social-media-icon a {
  text-decoration: none;
  position: relative;
}
footer .footer-content .contact-social-container .social-media .social-media-icon a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid rgb(247, 248, 248);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
footer .footer-content .contact-social-container .social-media .social-media-icon a img {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1);
  transition: filter 300ms ease-in-out;
}
footer .footer-content .contact-social-container .social-media .social-media-icon a img:hover {
  cursor: pointer;
  filter: unset;
}
footer .footer-content .contact-social-container .social-media .social-media-icon a:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
footer .copyright {
  font-size: 1rem;
  margin-top: 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  footer .copyright {
    margin-top: 0;
  }
}
footer .copyright img {
  width: 1rem;
  height: 1rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: rgb(247, 248, 248);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  min-width: 32rem;
  background: linear-gradient(45deg, hsl(212deg, 29%, 13%) 0%, hsl(204deg, 82%, 42%) 150%);
  max-width: 144rem;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
