@import "./sections/home";

@import "./sections/about";

@import "./sections/projects";

@import "./sections/skills";

@import "./sections/contact";

.my-main {
   width: 100%;
   max-width: 144rem;
}
