.slider {
   @include flexBox(column, center, center, 0);
   margin: 0 auto;
   width: 30rem;
   height: 150rem;
   position: relative;
   overflow: hidden;

   @media (min-width: 768px) {
      width: 98rem;
   }

   & .card-slide {
      @include flexBox(column, center, start, 2rem);
      padding: 2rem 0;
      position: absolute;
      top: 0;
      transform: translateX(345%);
      transition: all 1s ease-in-out;

      @media (min-width: 768px) {
         left: 10%;
      }

      @media (min-width: 992px) {
         left: 3%;
      }

      &:nth-child(1) {
         transform: translateX(0%);
      }

      &:nth-child(2) {
         transform: translateX(115%);
      }

      &:nth-child(3) {
         transform: translateX(230%);
      }

      &.card-last {
         background: transparent;
      }
   }

   & .btn {
      position: absolute;
      width: 6rem;
      height: 6rem;
      padding: 1rem;
      border: none;
      border-radius: 50%;
      background-color: $azure;
      font-size: 2rem;
      color: $black-pearl;

      &:hover {
         cursor: pointer;
         opacity: 0.8;
      }

      &:active {
         transform: scale(1.1);
      }

      &.btn-prev {
         top: 45%;
         left: 0;
         z-index: 4;
      }

      &.btn-next {
         top: 45%;
         right: 0;
         z-index: 4;
      }
   }
}
