#projects {
   background: $whisper;
   color: $black-pearl;
   padding: 2rem;

   h2 {
      font-size: 5rem;
      text-align: center;

      @media (min-width: 980px) {
         text-align: left;
      }
   }

   .projects-content {
      padding: 3rem 0 5rem 0;
      border-top: 0.5rem solid $navy-blue;

      .projects-subtitle {
         @include flexBox(column, center, center, 0);
         font-size: 2rem;
         text-align: center;
         font-weight: $font-weight-600;
         width: 100%;
         color: $black-pearl;

         @media (min-width: 980px) {
            align-items: flex-start;
            text-align: left;
         }

         .bottom {
            padding-bottom: 0.5rem;
            border-bottom: 0.15rem solid $black-pearl;
         }
      }

      .projects-list {
         @include flexBox(column, center, center, 2rem);
         margin-top: 5rem;

         @media (min-width: 660px) {
            @include flexBox(row, center, space-evenly, 2rem);
            flex-wrap: wrap;
         }
      }
   }

   .see-more-projects {
      font-size: 2rem;
      font-weight: $font-weight-600;
      letter-spacing: 0.2rem;
      text-align: center;
      padding-bottom: 5rem;

      a {
         text-decoration: none;
         color: $black-pearl;

         span {
            position: relative;

            &::before {
               content: "";
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               border-bottom: 0.3rem solid $navy-blue;
               transform: scale(0, 1);
               transform-origin: right;
               transition: transform 300ms ease-in-out;
            }

            &:hover {
               cursor: pointer;
            }

            &:hover::before {
               transform: scale(1, 1);
               transform-origin: left 1rem;
            }
         }
      }
   }
}
