@import "../../components/card";

@import "../../components/slide";

#projects {
   @include flexBox(column, center, center, 0);
   background: $whisper;
   color: $black-pearl;
   padding: 2rem 2rem 0 2rem;

   @media (min-width: 1201px) {
      padding: 2rem 6rem 0 6rem;
   }

   & h2 {
      font-size: 5rem;
      text-align: center;
      width: 100%;

      @media (min-width: 980px) {
         text-align: left;
      }
   }

   & .projects-content {
      padding: 3rem 0 3rem 0;
      border-top: 0.5rem solid $navy-blue;
      width: 100%;

      & .projects-subtitle {
         @include flexBox(column, center, center, 0);
         font-size: 2rem;
         text-align: center;
         font-weight: $font-weight-600;
         width: 100%;
         color: $black-pearl;

         @media (min-width: 980px) {
            align-items: flex-start;
            text-align: left;
         }

         & .bottom {
            padding-bottom: 0.5rem;
            border-bottom: 0.15rem solid $black-pearl;
         }
      }

      & .projects-list {
         @include flexBox(column, center, center, 2rem);
         margin-top: 5rem;

         @media (min-width: 660px) {
            @include flexBox(row, center, space-evenly, 2rem);
            flex-wrap: wrap;
         }
      }
   }
}
